{% extends 'perfil.html' %}

{% block form_editar_perfil %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-3">
        <div class="d-flex align-items-center">
            <div class="image pe-2">
                <img src="{{ foto_perfil }}" class="rounded" width="200">
            </div>
            <div class="ml-3 w-100">
                <h4 class="mb-0 mt-0">{{ current_user.username }}</h4>
                <span>{{ current_user.email }}</span>
                <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        <span class="articles">Cursos</span>
                        <span class="number1">0</span>
                    </div>
                    <div class="d-flex flex-column">
                        <span class="rating">Posts</span>
                        <span class="number3">0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <form method="POST" action="" class="border p-4 mt-2">
            {{ form.csrf_token }}
            <fieldset>
                <legend>Editar Perfil</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.username.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in form.email.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>

            {{ form.botao_submit_editarperfil(class="btn btn-primary mt-2") }}
        </form>
    </div>
</div>
{% endblock %}
